
@{
    Layout = null;
}

<div class="am-offcanvas-bar admin-offcanvas-bar">
    <ul class="am-list admin-sidebar-list">
        <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 基础数据 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav">
                <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
                <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
            </ul>
        </li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#employee-nav'}"><span class="am-icon-user"></span> 员工 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="employee-nav">
                <li><a href="~/Employee/EmployeeAdd"><span class="am-icon-bug"></span> 新增员工</a></li>
                <li><a href="/Employee/index"><span class="am-icon-bug"></span> 员工列表</a></li>
            </ul>
        </li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#corp-nav'}"><span class="am-icon-building"></span> 客户 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="corp-nav">
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 新增客户</a></li>
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 客户列表</a></li>
            </ul>
        </li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#supplier-nav'}"><span class="am-icon-cubes"></span> 供应商 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="supplier-nav">
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 新增供应商</a></li>
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 供应商列表</a></li>
            </ul>
        </li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#bill-nav'}"><span class="am-icon-usd"></span> 账单 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="bill-nav">
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 企业应收账单</a></li>
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 供应商应付账单</a></li>
            </ul>
        </li>
        <li class="admin-parent">
            <a class="am-cf" data-am-collapse="{target: '#chart-nav'}"><span class="am-icon-bar-chart"></span> 统计报表 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
            <ul class="am-list am-collapse admin-sidebar-sub" id="chart-nav">
                <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
    </ul>
    <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p><span class="am-icon-bookmark"></span> 公告</p>
            <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
    </div>
    <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
            <p><span class="am-icon-tag"></span> wiki</p>
            <p>Welcome to the Amaze UI wiki!</p>
        </div>
    </div>
</div>