
@{
    ViewBag.Title = "供应商列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/JS/Supplier/SupplierList.js"></script>


<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf">
        <strong class="am-text-primary am-text-lg ">供应商列表</strong>
    </div>
    <div class="am-align-right">
        <a class="am-btn am-btn-danger" href="/Supplier/SupplierAdd"><span class="am-icon-plus"></span> 新增</a>
        <button type="button" class="am-btn am-btn-primary" id="btnSearch"><span class="am-icon-search"></span>搜索</button>
    </div>
</div>
<hr>
<div class="am-g">
    <div class="am-u-sm-12 am-u-sm-centered">
        <div class="am-panel am-panel-default">
            <div class="Inquire">
                <!---001 start-->
                <ul>
                    <li>
                        <span>供应商：</span>
                        <div class="txb" id="selSupId">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <div id="jqxListGrid"></div>
    </div>
</div>

