
@{
    ViewBag.Title = "员工薪资";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/JS/EmployeeSalary/EmployeeSalaryList.js"></script>


<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">员工薪资</strong> / <small>Table</small></div>
</div>
<hr>
<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <a class="am-btn am-btn-danger" href="/CorpBill/CorpBillAdd"> <span class="am-icon-plus"></span> 新增账单</a>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
            <div class="txb" id="selCorpId">
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
            <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button" id="btnSearch">搜索</button>
            </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <div id="jqxListGrid"></div>
    </div>
</div>


